

header {
    border-bottom: 1px solid;
    box-shadow: 0px 0px 5px #e7e7e7;

    .navbar {
        .zm-nav1 {
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: "Poppins";
            font-weight: lighter;

            .nav-link {
                color: black;
                padding: 0;
                font-size: 12px;
            }

            .zm-mylast {
                border-right: 1px solid grey;
                padding-right: 30px;
            }

            .zm-lp {
                padding-right: 10px;
                padding-left: 10px;
            }

            .zm-rp {
                padding-right: 10px;
                padding-left: 10px;
            }

            .nav-item {
                &:hover {
                    a {
                        color: #e660ae;
                    }
                }
            }
        }

        .zm-nav2 {
            margin-top: 20px;
            font-family: "Poppins";
            font-weight: bold;

            .nav-link {
                color: black;
            }

            .zm-lp {
                padding-right: 15px;
                padding-left: 15px;
            }

            .nav-item {
                span {
                    font-size: 18px;
                }
            }

            .nav-item {
                &:hover {
                    a {
                        color: #e660ae;
                    }
                }

                &:active {
                    border-bottom: 2px solid #e660ae;
                }
            }
        }
    }
}

.zm-carousel {
    margin-bottom: 60px;

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

    .carousel-caption {
        max-width: 570px;
        max-height: 130px;
        background-color: white;
        color: black;
        bottom: 0;
        // left:23%;
        .zm-data {
            font-family: "Poppins";
            font-size: 14px;
            margin-bottom: 0.5rem;

            span {
                color: #e660ae;
            }
        }

        h3 {
            font-family: "Poppins";
            font-weight: bolder;
            font-size: 24px;
        }

        .zm-desc {
            font-family: "Poppins";
            font-size: 14px;
            width: 480px;
        }
    }

    .carousel-control-prev {
        width: 5%;

        span {
            font-size: 35px;
            z-index: 0;
        }
    }

    .carousel-control-next {
        width: 5%;

        span {
            font-size: 35px;
            z-index: 0;
        }
    }
}

.zm-aboutme {
    background-color: #faf9fa;
    padding: 40px;
    margin-bottom: 60px;

    div {
        h1 {
            font-size: 81px;
            color: #e660ae;
            font-weight: 900;
        }

        p {
            font-size: 38px;
        }

        .zm-btn {
            font-family: "Poppins";
            font-weight: bold;
            letter-spacing: 2px;
            font-size: 13px;
            padding: 4px 30px;
            position: relative;
            border: none;
            background-color: transparent;
        }

        .zm-btn:before {
            border-right: 0 !important;
            left: 0;
            content: ' ';
            position: absolute;
            border: 2px solid black;
            top: 20px;
            bottom: 0px;
            width: 50%;
            border-top: 0;
            height: 50%;
        }

        .zm-btn:after {
            border-left: 0 !important;
            right: 0;
            content: ' ';
            position: absolute;
            border: 2px solid black;
            top: -5px;
            bottom: 0px;
            width: 50%;
            border-bottom: 0;
            height: 50%;
        }
    }
    .zm-image {
        text-align: center;
        img {
            height: 270px;
            width: 270px;
        }
    }
    
}
@media (max-width: 768px) {
    .zm-aboutme{
        .zm-intro {
            text-align: center;
            margin-bottom: 30px;
        }

    }
}

.zm-news {
    margin-bottom: 60px;

    .col-sm-6 {
        font-size: 17px;
        font-family: "Poppins";
        font-weight: bold;

        span {
            padding: 5px;
            font-size: 20px;
        }
        button {
            background: none;
            border: none;
        }
    }

    .tdnews {
        
        button {
            background: none;
            border: none;
            // span {
            //     padding: 5px;
            //     font-size: 20px;
            // }
        }
        .image {
            img {
                display: inline-block;
                width: 100%;
            }
        }

        .mytext {
            display: inline-block;

            h6 {
                font-size: 14px;
                font-weight: bold;
            }

            p {
                font-size: 14px;

                span {
                    font-size: 36px;
                    font-weight: bold;
                }
            }

            a {
                color: #e660ae;
                font-size: 14px;
                letter-spacing: 2px;
                border-bottom: 1px solid #e660ae;
                text-decoration: none;
            }
        }
    }
}

.zm-articles {
    .left-content {
        padding-bottom: 50px;
        .image {
            img {
                width: 100%;
            }
        }
        .zm-datespw {
            margin-bottom: 40px;
        }
        .date {
            .date1 {
                text-align: right;
                font-family: "Poppins";
                font-weight: 500;
                font-size: 35px;
                padding-top: 10px;
            }

            .moy {
                text-align: left;
                font-family: "Poppins";
                font-weight: 500;
                font-size: 10px;
                padding: 0;
                .zm-month {
                    padding-top: 20px;
                    margin: 0;
                }

                .zm-year {}
            }
        }
        .zm-main {
            font-size: 14px;
            color: #e660ae;
            text-align: center;
            i {
                color: lightgrey;
            }
        }
        .zm-spw {
            padding-top:18px;
            h6 {
                font-size: 18px;
                font-family: "Poppins";
                font-weight: bold;
            }
            .button {
                font-size: 14px;
                font-family: "Poppins";
                color: #e660ae;
                border-bottom: 1px solid #e660ae;
                text-decoration: none;
            }
            p {
                font-size: 14px;
                font-family: "Poppins";
                margin: 0;
            }
            .more {
                display: none;
            }
        }
    }
    .zm-article {
        margin-bottom: 60px;
        .zm-descr {
            .zm-datemoy {
                padding-bottom: 18px;
                border-bottom: 1px solid lightgrey;
            }
            .date {
                .date1 {
                    text-align: right;
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 35px;
                    padding-top: 10px;
                }
    
                .moy {
                    text-align: left;
                    font-family: "Poppins";
                    font-weight: 500;
                    font-size: 10px;
                    padding: 0;
                    .zm-month {
                        padding-top: 20px;
                        margin: 0;
                    }
    
                    .zm-year {}
                }
            }
            .zm-noti {
                i {
                    padding-top: 30px;
                }
                span {
                    padding: 5px;
                    padding-top: 26px;
                }
            }
            .zm-text {
                padding-left: 70px;
                padding-top:18px;
                h6 {
                    font-size: 18px;
                    font-family: "Poppins";
                    font-weight: bold;
                }
                p {
                    font-size: 14px;
                    font-family: "Poppins";
                    margin: 0;
                    span {
                        color: #e660ae;
                    }
                }
                a {
                    font-size: 14px;
                    font-family: "Poppins";
                    color: #e660ae;
                    border-bottom: 1px solid #e660ae;
                    padding-top: 16px;
                    text-decoration: none;
                }
            }
        }
    }
    .zm-button {
        .col-md-12 {
            text-align: center;
            .zm-btn {
                font-family: "Poppins";
                font-weight: bold;
                letter-spacing: 2px;
                font-size: 13px;
                padding: 4px 30px;
                position: relative;
                border: none;
                background-color: transparent;
            }
    
            .zm-btn:before {
                border-right: 0 !important;
                left: 0;
                content: ' ';
                position: absolute;
                border: 2px solid black;
                top: 20px;
                bottom: 0px;
                width: 50%;
                border-top: 0;
                height: 50%;
            }
    
            .zm-btn:after {
                border-left: 0 !important;
                right: 0;
                content: ' ';
                position: absolute;
                border: 2px solid black;
                top: -5px;
                bottom: 0px;
                width: 50%;
                border-bottom: 0;
                height: 50%;
            }
        }
    }
    .right-content {
        .zm-form {
            fieldset {
                border: 3px solid #e660ae;
                text-align: center;
                margin-top: -17px;
                padding-bottom: 24px;
                margin-bottom: 24px;
                legend {
                    display: inline-block;
                    width: 200px;
                    font-family: "Poppins";
                    font-weight: 800;
                    font-style: italic;
                    letter-spacing: 2px;
                    margin-bottom: 0;
                    font-size: 24px;
                }
                h6 {
                    font-family: "Poppins";
                    font-weight: 800;
                    font-style: italic;
                    letter-spacing: 2px;
                    font-size: 22px;
                }
                span {
                    font-family: "Poppins";
                    color: #a8b0b2;
                    font-size: 14px;
                }
                p {
                    color: #6b6e6f;
                    font-family: "Poppins";
                    font-size: 14px;
                }
                a {
                    color: #6b6e6f;
                    text-decoration: none;
                    border-bottom: 1px solid #6b6e6f;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }
            img {
                height: 120px;
                width: 120px;
            }
        }
        .zm-tp {
            .col-sm-12 {
                text-align: center;
                margin-bottom: 5px;
                p {
                    font-family: "Poppins";
                    font-weight: bold;
                }
            }
        }
        .zm-tp-ar {
            border-bottom: 1px solid #6b6e6f;
            padding-bottom: 23px;
            padding-top: 20px;
            .col-sm-9 {
                p {
                    font-family: "Poppins";
                    font-size: 14px;
                    font-weight: bold;
                    margin: 0;
                    line-height: 18px;
                }
                span {
                    font-family: "Poppins";
                    font-weight: 100;
                    font-style: italic;
                    font-size: 13px;
                    margin-top: -5px;
                }
            }
        }
        .zm-cat {
            margin-top: 40px;
            margin-bottom: 40px;
            p {
                font-family: "Poppins";
                font-size: 18px;
                font-weight: bold;
            }
            .list-group {
                .list-group-item {
                    padding: 0.5rem 1.25rem;
                    border: none;
                    a {
                        color: black;
                        text-decoration: none;
                        &:hover {
                            color: #e660ae;
                        }
                    }
                }
            }
        }
        .zm-pt {
            margin-bottom: 40px;
            p {
                font-family: "Poppins";
                font-size: 18px;
                font-weight: bold;
            }
            a {
                padding: 8px 14px;
                border: 1px solid #717779;
                border-radius: 0;
                margin: 4px;
                color: #717779;
                font-family: "Poppins";
                font-weight: 100;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
        .zm-cr {
            p {
                font-family: "Poppins";
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 30px;
            }
            .zm-cr-item {
                padding:30px 0px;
                span {
                    font-family: "Poppins";
                    font-size: 7px;
                    span {
                        font-family: "Poppins";
                        font-weight: 900;
                        font-size: 17px;
                        color: #e660ae;
                    }
                }
                p {
                    font-size: 14px;
                    font-family: "Poppins";
                    font-weight: bold;
                    margin: 0;
                }
                a {
                    color: #e660ae;
                    font-size: 10px;
                    letter-spacing: 2px;
                    border-bottom: 1px solid #e660ae;
                    text-decoration: none;
                }
            }   
        }
        .zm-nw {
            margin-top: 40px;
            margin-bottom: 40px;
            p {
                font-family: "Poppins";
                font-size: 18px;
                font-weight: bold;
            }
            .list-group {
                .list-group-item {
                    padding: 0.5rem 1.25rem;
                    border: none;
                    a {
                        color: black;
                        text-decoration: none;
                        &:hover {
                            border-bottom: 2px solid #e660ae;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 998px) {
    .zm-articles {
        .zm-article{
            .zm-text {
                padding-left: 0 !important;
            }
        }
    }
}
.zm-insta {
    .col-md-12 {
        text-align: center;
        font-family: "Poppins";
        font-weight: bold;
        margin-bottom: 20px;
        span {
            a {
                color: #e660ae;
            }
        }
    }
    .col-lg-2 {
        padding:0;
        position: relative;
        text-align: center;
        img {
            width: 100%;
        }
        &:after {
            content: "";
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            background-color: rgba(#bf8bb1,0.5);
        }
        a {
            display: none;
            position: absolute;
            top: 50%;
            left: 46%;
            color: white;
            font-size: 20px;
            z-index: 4;;
        }
    }
    .col-md-2 {
        &:hover {
            &:after {
                display: block;
            }
            a {
                display: block;
            }
        }
    }
}
@media (min-width: 768px) {
    .zm-insta {
        .col-md-4 {
            text-align: center;
        }
    }
}
footer {
    .row {
        margin: 0;
    }
    .left-footer {
        background-color: #18111c;
        .zm-cr {
            .foo {
                padding: 60px 0px 0px 100px;
                .zm-footer-logo {
                    margin-top: 50px;
                    font-family: "Poppins";
                    font-weight: 300;
                    img {
                        margin-bottom: 50px;
                    }
                    .zm-special {
                        a {
                            border-bottom: 1px solid white;
                        }
                    }
                    p {
                        font-size: 14px;
                        a {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
                .col-xl-6 {
                    // margin-left: -100px;
                }
            }
            p {
                font-family: "Poppins";
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 30px;
                color: white;
            }
            .zm-cr-item {
                padding:15px 0px;
                span {
                    font-family: "Poppins";
                    font-size: 7px;
                    color: white;
                    span {
                        font-family: "Poppins";
                        font-weight: 900;
                        font-size: 17px;
                        color: white;
                    }
                }
                p {
                    font-size: 12px;
                    font-family: "Poppins";
                    margin: 0;
                    color: white;
                }
                a {
                    color: white;
                    font-size: 10px;
                    letter-spacing: 2px;
                    border-bottom: 1px solid white;
                    text-decoration: none;
                }
            }   
        }
    }
    .right-footer {
        background-color: #1f1a22;
        .zm-nw {
            .foo {
                padding: 60px 0px 30px 186px;
            }
            p {
                font-family: "Poppins";
                font-size: 18px;
                font-weight: 300;
                color: white;
            }
            .list-group {
                background-color: inherit;
                .list-group-item {
                    padding: 0.5rem 1.25rem;
                    border: none;
                    background-color: inherit;
                    a {
                        color: white;
                        text-decoration: none;
                        &:hover {
                            border-bottom: 2px solid white;
                        }
                    }
                }
            }
        }
        .zm-search {
            p {
                color: white;
                font-family: "Poppins";
                font-size: 18px;
                font-weight: 300;
                padding-left: 186px;
            }
            .foo {
                padding: 30px 0px 0px 186px;
                .input-group {
                    max-width: 370px;
                    .form-control {
                        background-color: transparent;
                    }
                }
                .fa {
                    color: grey;
                }
            }
        }
        .zm-followus {
            width: 555px;
            padding-left: 160px;
            padding-top: 25px;
            p {
                color: white;
                font-family: "Poppins";
                font-family: "Poppins";
                font-size: 18px;
            }
            a {
                color: white;
                padding: 8px 13px;
                &:hover {
                    color: #1f1a22;
                    background-color: white;
                    border-radius: 50%;
                }
            }
        }
    }
    .last-footer {
        background-color: #18111c;
        .navbar {
            padding: 26px 0 26px 0;
        }
        p {
            color: #717779;
            font-size: 14px;
            span {
                color: white;
            }
        }
        ul {
            .nav-item {
                padding-left: 24px;
                padding-right: 24px;
                font-family: "Poppins";
                .nav-link {
                    padding:0;
                    color: #717779;
                    border-bottom: 1px solid #717779;
                    &:hover {
                        color: white;
                        border-bottom: 1px solid white;
                    }
                }
            }
        }
    }
}