$temptress:						#290000;
$deyork:						#76c38f;
$dusty-gray:					#979797;
$white:							white;
$lone-star:						#660000;
$mine-shaft:					#333333;
$mine-shaft1:					#303030;
$mine-shaft-dark:				#222222;
$cod-gray:						#151515;
$tundora:						#404040;

$nav-font:						13px Georgia;
$slider-h-font:					46px Georgia;
$slider-p-font:					12px Georgia;
$line-height-p: 				19.2px;
$item1-h-font:					32px Georgia;
$blog-header-font:				16px Georgia;
$overlay-font:					14px Georgia;

$no-border:						none;